<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        {% if title %}
        <title>{{ title }} - GreyFinder</title>
        {% else %}
        <title>GreyFinder</title>
        {% endif %}
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div>
            GreyFinder:
            <a href="{{ url_for('main.index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>