{% extends "base.html" %}

{% block content %}
<div style="text-align: center;">
    <h1>Hi, {{ current_user.username }}!</h1>
    
    <form action = "/upload" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.csvFile() }}
        {{ form.submit() }}
    </form>
    <div id="container">
        {% for picture in pictures %}
        <div class="cssfade" style="background-image: url('{{ picture.greyurl }}');" ><img src={{ picture.url }}></div>
        {% endfor %}
    </div>
</div>
{% endblock %}