{% extends "base.html" %}

{% block content %}
<div style="text-align: center;">   
    {% if current_user.is_anonymous %}
    <form action="{{ url_for('auth.login') }}" method="post" novalidate>
        {{ loginform.hidden_tag() }}
        {{ loginform.username.label }}
        {{ loginform.username(size=16) }}
        {% for error in loginform.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        
        {{ loginform.password.label }}
        {{ loginform.password(size=16) }}
        {% for error in loginform.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        
        {{ loginform.submit() }}
    </form>
    {% else %}
    
    <form action = "/upload" method="POST" enctype="multipart/form-data">
        GreyFinder:
        <a href="{{ url_for('auth.logout') }}">Logout {{ current_user.username }}</a>
        {{ uploadform.hidden_tag() }}
        {{ uploadform.csvFile() }}
        {{ uploadform.submit() }}
    </form>
    {% endif %}
</div>
<hr>
<div style="text-align: center;">

    <div id="filters">
        <form>
            <input id="smallButton" onclick="reloadItems();" type="radio" name="dimensions" value="100">Small</input>
            <input id="mediumButton" onclick="reloadItems();" type="radio" name="dimensions" value="200">Medium</input>
            <input id="largeButton" onclick="reloadItems();" type="radio" name="dimensions" value="300">Large</input>
            <input id="allButton" onclick="reloadItems();" type="radio" name="dimensions" value="0">All</input>
            <input id="greyscaleButton" onclick="reloadItems();" type="checkbox" name="greyscale" value="1">Greyscale</input>
        </form>
    </div>

    <div id="container">
        <template id="image_template">
            <img id="content"/>
        </template>
    </div>

    <br/>
    <br/>
    
    <div id="sentinel">
        <div role="status">
            <a class="navbar-brand" id="loaded" href="#">0 items found</a>
        </div>
    </div>
    
</div>

<script>
    var scroller = document.querySelector("#container");
    var template = document.querySelector('#image_template');
    var loaded = document.querySelector("#loaded");
    var sentinel = document.querySelector('#sentinel');
    var counter = 0;

    function isAnyPartOfElementInViewport(el) {
        const rect = el.getBoundingClientRect();
        const windowHeight = (window.innerHeight || document.documentElement.clientHeight);
        const windowWidth = (window.innerWidth || document.documentElement.clientWidth);
        const vertInView = (rect.top <= windowHeight) && ((rect.top + rect.height) >= 0);
        const horInView = (rect.left <= windowWidth) && ((rect.left + rect.width) >= 0);
        return (vertInView && horInView);
    }

    function getImages() {
        var dimensions = 0
        var ele = document.getElementsByName('dimensions');      
        for(i = 0; i < ele.length; i++) { 
            if(ele[i].checked) 
            dimensions = ele[i].value; 
        } 
        
        var greyscale = ""
        if (document.getElementById('greyscaleButton').checked) {
            greyscale = "&greyscale"
        }
        
        fetch(`/api/pictures?start=${counter}&dimensions=${dimensions}${greyscale}`).then((response) => {
            response.json().then((data) => {
                if (!data.length) {
                    return
                }
                for (var i = 0; i < data.length; i++) {
                    let template_clone = template.content.cloneNode(true);
                    template_clone.querySelector("#content").src = "static/" + data[i]['url'];
                    scroller.appendChild(template_clone);
                    counter += 1;
                    loaded.innerText = `${counter} items found`;
                }
            })
        })
    }

    var timerId;

    var debounceFunction = function (func, delay) {
        if (timerId) {
            return
        }
        func();
        timerId = setTimeout(function () {
            timerId = undefined;
        }, delay)
    }

    function loadItems() {
        if (isAnyPartOfElementInViewport(sentinel)){
            debounceFunction(getImages, 1000);
        }
    }

    function reloadItems() {
        while (scroller.firstChild) {
            scroller.removeChild(scroller.firstChild);
        }
        counter = 0;
        loaded.innerText = `${counter} items found`;
        loadItems();
    }
    loadItems();
    var poll = setInterval(loadItems, 500);
    
</script>
{% endblock %}